.git
.github
.gitignore

.env
.env.*

venv
.venv
env

__pycache__
*.pyc
*.pyo

.pytest_cache
.coverage
htmlcov

.ipynb_checkpoints

notebook
*.ipynb

catboost_info

artifact
artifacts
logs

*.csv

README.md